FallbackResource /index.php
LimitRequestBody 104857600

<IfModule expires_module>
    ExpiresActive On
    ExpiresByType image/svg+xml "access plus 5 days"
    ExpiresByType image/png     "access plus 5 days"
    ExpiresByType image/jpeg    "access plus 5 days"
    ExpiresByType image/gif     "access plus 5 days"
    ExpiresByType text/css      "access plus 5 days"
    ExpiresByType application/javascript "access plus 5 days"
</IfModule>

<IfModule filter_module>
    FilterDeclare  COMPRESS
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/html'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/css'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/plain'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'image/svg+xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/xhtml+xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/rdf+xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/rss+xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/atom+xml'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'text/javascript'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/javascript'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/x-javascript'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/x-font-ttf'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'application/x-font-otf'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'font/truetype'"
    FilterProvider COMPRESS DEFLATE "%{CONTENT_TYPE} = 'font/opentype'"
    FilterChain    COMPRESS
    FilterProtocol COMPRESS DEFLATE change=yes;byteranges=no

    SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png)$ dont-vary
    Header append Vary Accept-Encoding env=!dont-vary
</IfModule>
